# Node.js
node_modules
# Next.js build output
.next
out
# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*
# Testing
a coverage
# Production
dist
# Mac/System files
.DS_Store
.idea
.vscode
.env
.env.*
